<%- include('head'); -%>
<link rel="stylesheet" href="/styles/info.css">
<title>Info</title>
</head>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a class="logOutButton" href="/logout"><button class="btn-lg btn-primary">Logout</button></a>
    <h1>Dokumentasjon</h1>
    <div class="content">
        <h2>Sikkerhet</h2>
        <img src="/img/lock.png" alt="Simple drawing of padlock">
        <p>I steden for å lagre passord som en ren string i databasen, krypterer jeg de med to lag med sikkerhet. Først bruker jeg noe som heter hashing for å kryptere de om til en lang string med uleselige tegn. Måten hashen funker på er at å kryptere et passord kan skje umiddelbart, men derimot å dekryptere passordet vil ta timesvis, men dette kommer også ann på passordet som brukeren har laget. Derfor kan man umiddelbart hashe et passord når man logger inn og sjekke det opp mot det lagrede passordene. Dette eliminerer trusselen for at noen som har tilgang til databasen eller noen som har brutt seg inn får tilgang til alle passordene. 
        </p>
        <img src="/img/hash.png" alt="simple drawing of hashtag symbol">
        <p>
            Dette er likevel ikke sikkert nok for meg. Siden alle like passord blir til like hasher, kan man se etter de og sammenligne de opp mot hashede passord. Derfor har jeg brukt noe som heter salting. Når man salter et passord, blir det generert mange tilfeldige tegn bak passordet. Dette gjør at det kan være to helt like passord med to helt ulike hasher. Salten lagres også i databasen så man kan dekryptere passordet fort når man skal logge inn.  
        </p>
        <img src="/img/salt.png" alt="Simple drawing of saltshaker,pouring salt">
    </div>
    <div class="content">
        <h2>Backend</h2>
        <img src="/img/server.png" alt="Simple drawing of serverrack">
        <p>
          Jeg kjører nettsiden min på en ubuntu VM. Dette er veldig fint, siden vm-en fysisk mer sikker og i de fleste tilfeller mer stabil. Dessverre hadde jeg bare skolen sin vm tilgjengelig, derfor vil bare domenet være tilgjengelig når noen bruker vår vpn. 
        </p>
        <img src="/img/mongo.png" alt="Simple drawing of mongodb logo">
        <p>
          Databasen jeg lagrer alt på er en nosql database kalt mongodb. For å gjøre det lettere for meg å bruke mongodb bruker jeg et rammeverk kalt mongoose. Jeg valgte også denne databasen fordi det er en nosql som er perfekt for et lite prosjekt hvor det er fint å ha en flexibel database. 

        </p>
      </div>
      <div class="content">
        <h2>Github projects</h2>
        <img src="/img/githubproject.png" alt="Screenshot of github projects interface" style="width: 100%;">
        <p>
          Jeg brukte githubprojects til å logge hva som hadde blitt gjort eller ikke og hvor langt jeg hadde kommet. Selvom det ikke var særlig hjelpsomt på et så kort og lite projekt, kan jeg se viktigheten med det når du skal sammarbeide og planlegge større projekt.
        </p>
      </div>
</body>
</html>
